<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/main.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/javascript/bootstrap.js">
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/javascript/app.js"></script>
    <script src="/static/javascript/templating.js"></script>
    <link href="/static/css/landing-page.css" rel="stylesheet">


</head>

 <body class= "giver_profile">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav">Give A Meal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">                    
                    <li>
                        <form method="GET" action="/logout">
                            <button class="btn btn-default">Logout</button>
                        </form>
                    </li>
                    <li>        
                        <form method="" action="">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal">Edit Info</button>   
                        </form>  
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update or Change Profile</h4>
              </div>
              <div class="modal-body">


                <div id="el-alert" class="alert alert-success alert-block fade"> Well done! Your profile is updated!</div>



                <div id="donor"></div>

              </div>  
      </div>
  </div>
</div>
        <div class="receiver-intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Give A Meal</h1>
                        <h3>For every $10 donated a you are giving a meal to a neighbor.</h3>
                        <hr class="intro-divider">
                        <h3> Please view local people below</h3>
                        <br>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </div>
<!-- Large modal -->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body text-center">
        <!-- this is the donation Widget -->
        <div id='razoo_donation_widget'><span><a href="https://www.razoo.com/">Raise money online</a> for <a href="https://www.razoo.com/story/A-Meal-A-Day">Give a Meal</a></span></div><script type='text/javascript'>var r_params = {"title":"Give a Meal","short_description":"","long_description":"","color":"#8a8d86","errors":false,"donation_options":{"10":"For A Meal"},"image":"false"};var r_protocol=(("https:"==document.location.protocol)?"https://":"http://");var r_path="https://www.razoo.com/javascripts/widget_loader.js";var r_identifier='A-Meal-A-Day';document.write(unescape("%3Cscript id='razoo_widget_loader_script' src='"+r_path+"' type='text/javascript'%3E%3C/script%3E"));</script>
      </div>
    </div><!-- /.modal-content -->
  </div>
</div>
</div>  
<div class="container">
  <div class="row"> 
    <hr>   
        <section id="pinBoot">
            <div id="name"></div>

<!--     <article class="white-panel"> <img src="http://i.imgur.com/3gXW3L3.jpg" alt="">
        <h4><a href="#">Title 4</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/o2RVMqm.jpg" alt="">
        <h4><a href="#">Title 5</a></h4>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article>

      <article class="white-panel"> <img src="http://i.imgur.com/kFFpuKA.jpg" alt="">
        <h4><a href="#">Title 6</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </article>



      <article class="white-panel"><img src="http://i.imgur.com/E9RmLPA.jpg" alt="">
        <h4><a href="#">Title 7</a></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
          irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </article> -->
        </section>
    <hr>
  </div>
</div>
   <script type="text/template" id="receiver-template">  
      <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><%= receiver.firstName %> <%= receiver.lastName %> <small><%= receiver.currentCity %></small></h2>
                    <p class="lead"><%= receiver.story %></p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Give a Meal</button>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/<%=receiver.firstName%>.JPG" alt="">
                </div>
            </div>
        </div>       
    </div> 
    <br>            
  </script>

    <script type="text/template" id="edit-donor-template">  
      <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                        <form method="post" action="/updateDonorProfile">
                          <div class="form-group col-lg-12">
                            <label>Email</label>
                            <input type="email" name="email" value="<%= email %>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Change Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>First Name</label>
                            <input type="text" name="firstName" value="<%=firstName%>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Last Name</label>
                            <input type="text" name="lastName" value="<%=lastName%>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Current City</label>
                            <input type="text" name="city" value="<%=city%>" class="form-control">
                          </div> 

                          <div class="form-group col-lg-12">
                            <button id="alertButton" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal"> and then Close</button>
                          </div>  
                        </form>
            </div>
        </div>       
    </div> 
                
  </script>
</body>



