<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/landing-page.css" rel="stylesheet">
    <link href="/static/javascript/bootstrap.js">
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
    <script src="/static/javascript/app.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <form method="GET" action="/">
                    <a class="navbar-brand topnav">Give A Meal</a>
                </form>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#mission">Our Mission</a>
                    </li>
                    <li>
                        <a href="#donate">Give a Meal</a>
                    </li>
                    <li>
                        <form method="GET" action="/signup">
                            <button class="btn btn-default">Signup</button>
                        </form>
                    </li>
                    <li>
                        <form method="GET" action="/login">
                            <button class="btn btn-default">Login</button>
                        </form>    
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Give A Meal</h1>
                        <h3>Give a meal to someone in need by donating $10</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <form method="GET" action="/signup">
                                    <button class="btn btn-default btn-lg"><span class="network-name">Give a Meal</span></button>
                                </form>
                            </li>
                            <li>
                                <form method="GET" action="/signup">
                                    <button class="btn btn-default btn-lg"> <span class="network-name">Receive a Meal</span></button>
                                </form>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
    
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <!-- this is the donation Widget -->
            <div id='razoo_donation_widget'><span><a href="https://www.razoo.com/">Raise money online</a> for <a href="https://www.razoo.com/story/A-Meal-A-Day">Give a Meal</a></span></div><script type='text/javascript'>var r_params = {"title":"Give a Meal","short_description":"","long_description":"","color":"#8a8d86","errors":false,"donation_options":{"10":"For A Meal"},"image":"false"};var r_protocol=(("https:"==document.location.protocol)?"https://":"http://");var r_path="https://www.razoo.com/javascripts/widget_loader.js";var r_identifier='A-Meal-A-Day';document.write(unescape("%3Cscript id='razoo_widget_loader_script' src='"+r_path+"' type='text/javascript'%3E%3C/script%3E"));</script>
          </div>
        </div><!-- /.modal-content -->
      </div>
    </div>
    <!-- Page Content -->

	<a  name="mission"></a>
    
    <div class="content-section-b">

        <div class="container">

            <div class="row">

                <div class="col-sm-12 text-center" >
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Our Mission</h2>
                    <p class="lead"> We hear about world hunger all the time on the news and there are hundreds of organizations out there trying to solve this issue. But what about local hunger. Hundreds of people in our neighborhoods are hungry. These are people that have lived beside us for years, paid taxes, raised kids and are now down on their luck. Here at Give A Meal we want to help these people in our backyards by giving them a free meal, from a local restaurant, for every $10 donated. Together the goal is to give our neighbors another shot and maybe change their luck a little bit.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Kevin Guntrup & Diane Ritey <small>San Francisco</small></h2>
                    <p class="lead">Kevin born and raised in Hawaii moved around quite a bit with his dad being in the military. After working 38 years for the same employer Kevin injured his back on the job site and on his doctors recommendation he was asked to take two months off to recover. After letting his employer know of his injury he was let go from the company and never brought back to work. Coupled with his wife Diane needing two hip surgeries they were not able to afford their current standard of living and was forced to living on the streets. Kevin is currently looking for work. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/Kevin.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading">Emmitt Oliver <small>San Francisco</small></h2>
                    <p class="lead">You don't miss water until your well goes dry. Emmitt has only been living on the street sense the beginning of August. He spent many years in the army however decided he wanted a career change so he could be home more. He also sad he was home sick for "corn beans and rice". It is only after some legal matters his home was taken away from him. </p>
                   
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="static/images/Emmitt.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Larry Mccail <small>San Francisco</small></h2>
                    <p class="lead">Always keeping busy, Larry moved to San Francisco in 2009 to help after a death in the family. He doesn't want to be on the street and is down on his luck. He knows things will change one day and has a positive attitude.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/Larry.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="donate"></a>
    <div class="banner">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-6">
                    <h2>To hear more stories and give directly to that person please sign up or donate directly to the cause and we will pick a person in need.</h2>
                </div>
                <div class="col-lg-6">
                    <br>
                    <br>
                    <br>
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <form method="GET" action="/signup">
                                <button class="btn btn-default btn-lg"><span class="network-name">Signup</span></button>
                            </form>
                        </li>
                        <li>  
                            <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target=".bs-example-modal-lg"><span class="network-name">Donate to Give a Meal</span></button>   
                        </li> 
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>
                    <p class="copyright text-muted small">Copyright &copy; Meal a Day 2015. All Rights Reserved || Contact @ farquharbradley@gmail.com or 602 350 8256</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
