<!DOCTYPE html>
<html>
<head>
  <title>Title</title>

 
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/static/javascript/bootstrap.js">
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/underscore/underscore-min.js"></script>
  <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">

        <script src="/static/javascript/app.js"></script>
</head>
<body>
      <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav">Give A Meal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form method="GET" action="/signup">
                            <button class="btn btn-default">Signup</button>
                        </form>
                    </li>  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br>
    <br>
    <br>
    <br>

 

  <div class="container">
  <!-- Nav tabs -->

  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Give a Meal</a></li>
    <li role="presentation"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Receive a Meal</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="profile">
      <div class="col-sm-12">
        <h3 class="dark-grey">Login to Give a Meal</h3>
          <div class="form-group col-md-6">


            <form method="post" action="/donor_login">
              <div class="form-group">
                <label>Email</label>
                <input type="text" name="donor[email]" placeholder="Email" class="form-control">
              </div>
              <div class="form-group">
                <label>Password</label>
                <input type="password" name="donor[password]" placeholder="Password" class="form-control">
              </div>
              <div class="form-group">
                <button class="btn btn-success">Login</button>
              </div>
            </form>



          </div>
        </div>
      </div>
    <div role="tabpanel" class="tab-pane" id="home">
      <div class="col-sm-12">
        <h3 class="dark-grey">Login to Receive a Meal</h3>
        <div class="form-group col-md-6">
          <form method="post" action="/receiver_login">
            <div class="form-group">
              <label>Username</label>
              <input type="text" name="receiver[userName]" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" name="receiver[password]" placeholder="Password" class="form-control">
            </div>
            <div class="form-group">
              <button class="btn btn-success">Login</button>
            </div>  
          </form>
        </div>
      </div>
    </div>
    </div>


	<!-- <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6"> -->
<!--   <h1>Receive a Meal Login</h1>
  <form method="post" action="/login">
    <div>
      <input type="text" name="user[username]">
    </div>
    <div>
      <input type="password" name="user[password]">
    </div>
    <button>Login</button>
  </form> -->

<!--   <h1>Give a Meal Login</h1>
  <form method="post" action="/login">
    <div>
      <input type="text" name="user[username]">
    </div>
    <div>
      <input type="password" name="user[password]">
    </div>
    <button>Login</button>
  </form> -->
 </div>
</div>
</div>
</body>
</html>