<!DOCTYPE html>
<html>
<script src="/static/javascript/app.js"></script>
<link href="/static/css/receiver_profile.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
 <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <link href="/static/javascript/bootstrap.js">
    <link href="/static/css/landing-page.css" rel="stylesheet">
    <script src="/static/javascript/templating.js"></script>
    <script src="/vendor/underscore/underscore-min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
   



    

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav">Give A Meal</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  
                    <li>
                        <form method="get" action="/logout">
                            <button class="btn btn-default">Logout</button>
                        </form>    
                    </li>
                     <li>        
                        <form method="" action="">
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal">Edit Info</button>   
                        </form> 
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Update or Change Profile</h4>
              </div>
              <div class="modal-body">
                <div id="editReceiver"></div>

              </div>  
      </div>
  </div>
</div>
    <div class="receiver-intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    
                        <div id="welcomeName"></div>
                        
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>

     <div class="col-xs-12 divider text-center">
               
                    <h3>Meals Available</h3>
                    <h2><strong>1</strong></h2>       
                    <hr>             
             

     </div>

<!-- <h3> Be sure to upload a photo</h3>
  	<form action="/uploads/upload" method="post" enctype="multipart/form-data">
		<input type="file" name ="file" accept="application/x-zip-compressed,image/*">
    	<input type="submit" value="Upload selected file to server">
	</form>  -->

<div id="receiver"></div>

 <div class="text-center">
 <h1>Your Closest Partnered Restaurant</h1>
 <br>
 <h3>To collect your meal say you're with "Give a Meal" along with your name. They will be expecting you!</h3>
 <h4>SubWay at 1250 Market Street, San Francisco</h4>
 <br>
 <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
</div>
<br>
<br>
 <br>
 <!-- Map -->
    <div class="col-md-12">
       <div class="col-md-6">
      <img class="img-responsive" src="static/images/subway.jpg" alt="">
    </div>
    
    <div class="col-md-6">




    <section id="contact" class="map">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1250,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=Subway&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Subway,+1250,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe>
        <br />
        <small>
            <a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1250,+Market+Street,+San+Francisco,+CA&amp;aq=0&amp;oq=Subway&amp;sll=28.659344,-81.187888&amp;sspn=0.128789,0.264187&amp;ie=UTF8&amp;hq=Subway,+Market+Street,+San+Francisco,+CA&amp;t=m&amp;z=15&amp;iwloc=A"></a>
        </small>
        </iframe>
    </section>
  </div>
 </div> 

<footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>

                    <p class="copyright text-muted small">Copyright &copy; Give a Meal 2015. All Rights Reserved || Contact @ farquharbradley@gmail.com or 602 350 8256</p>
                </div>
            </div>
        </div>
    </footer>
   <script type="text/template" id="current-receiver-template">  
   
	<div class="content-section-b">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    
                    <div class="clearfix"></div>
                    <h2 class="section-heading"><%= firstName %> <%= lastName %> <small><%= currentCity %></small></h2>
                    <h4> Meals Available: 1</h4> 
                    <h4> Meals Received: 1</h4>
                    <p class="lead"><%= story %></p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="static/images/<%=firstName%>.JPG" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div> 
    <br>            
    </script>
        <script type="text/template" id="edit-receiver-template">  
      <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                        <form method="post" action="/updateReceiverProfile">
                          <div class="form-group col-lg-12">
                            <label>UserName</label>
                            <input type="text" name="userName" value="<%= userName %>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Change Password</label>
                            <input type="password" name="password" placeholder="Password" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>First Name</label>
                            <input type="text" name="firstName" value="<%=firstName%>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Last Name</label>
                            <input type="text" name="lastName" value="<%=lastName%>" class="form-control">
                          </div> 
                          <div class="form-group col-lg-12">
                            <label>Current City</label>
                            <input type="text" name="currentCity" value="<%=currentCity%>" class="form-control">
                          </div> 
                           <div class="form-group col-lg-12">
                            <label>Sex</label>
                            <input type="text" name="sex" value="<%=sex%>" class="form-control">
                          </div> 
                           <div class="form-group col-lg-12">
                            <label>Birthday</label>
                            <input type="date" name="birthDate" value="<%=birthDate%>" class="form-control">
                          </div> 
                           <div class="form-group col-lg-12">
                            <label>Story</label>
                            <input type="text" name="story" value="<%=story%>" class="form-control">
                            <p>To upload a profile picture, or if you are no longer in need, please email me at farquharbradley@gmail.com</p>
                          </div> 

                        

                          <div class="form-group col-lg-12">
                            <button id="alertButton" class="btn btn-success">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">and then Close</button>
                          </div>  
                        </form>
            </div>
        </div>       
    </div> 
                
  </script>
     <script type="text/template" id="adding-name-template">  
                    <div class="intro-message">            
                        <h1>Welcome <%=firstName%></h1>
                        <h3>People in your neighborhood can now view your profile and donate meals.</h3>
                        <hr class="intro-divider">
                        <h3> See your Profile below.</h3>
                        <br>
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>  
    </script>
</body>	

</html>